Repository JiroRauwers/honeybunnywax.com, changes with the labels that .github/labeler.yml gives for each.
All labels: component, constants, functions, pages, services, styles, template, utils, front, public files, workflow, generators, env, editor, linter, git, build, next, typescript, description

.github/labeler.yml:

# labels to Git Flows
component:
  - src/components/**/*

constants:
  - src/constants/**/*

functions:
  - src/functions/**/*

pages:
  - src/pages/**/*

services:
  - src/services/**/*

styles:
  - src/styles/**/*

template:
  - src/template/**/*

utils:
  - src/utils/**/*

# -----
front:
  - src/**/*

public files:
  - public/**/*

workflow:
  - .github/**/*

generators:
  - generators/**/*

# ----
env:
  - .env.*
  - .env

editor:
  - .vscode/**/*

linter:
  - .eslintrc.*
  - .eslintrc
  - .prettierrc
  - .prettierrc.*

git:
  - .git*

build:
  - package.json

next:
  - next.config.js

typescript:
  - '**/*.d.ts'
  - tsconfig.*
  - src/@types/**/*

description:
  - README.md

splitting style
  .eslintrc
  README.md
  public/img/man2.jpg
  src/constants/is-running-on-server.ts
  src/constants/times.ts
  src/hooks/index.ts
  src/hooks/useCalcState.ts
  src/hooks/useDimensions.ts
  src/hooks/useFilterChildren.ts
  src/hooks/useInViewPort.ts
  src/hooks/useWindowSize.ts
  src/pages/home/index.page.tsx
  src/pages/home/styles.ts
  src/templates/index.ts
Labels: constants, pages, front, public files, linter, description

separating style
  .eslintrc
  package.json
  src/pages/formen/index.page.tsx
  src/pages/formen/styles.ts
  yarn.lock
Labels: pages, front, linter, build

fix linting
  .vscode/settings.json
  src/components/Container/index.tsx
  src/components/Menu/styles.ts
  src/pages/formen/styles.ts
  src/pages/home/styles.ts
  src/utils/BuildComponents/FilterChildren.ts
  src/utils/SWR/fetchers.ts
Labels: component, pages, utils, front, editor

hidding files
  .vscode/settings.json
Labels: editor

build fix, remove unused
  src/components/Carousel/index.tsx
  src/components/Carousel/styles.ts
  src/components/Carousel/types.ts
  src/components/Carousel/ultils/useScrollSlideControll.ts
  src/components/Carousel/ultils/useSelection.ts
  src/components/Carousel/ultils/useSlidePerview.ts
  src/components/Carousel/ultils/useVariants.ts
  src/components/index.ts
Labels: component, front

feat: images feat: new texts
  .gitignore
  public/icons/back.png
  public/icons/bikini.png
  public/icons/facial.png
  public/icons/full-body.png
  public/icons/legs.png
  public/img/Hero-crop.jpg
  public/img/Hero.jpg
  public/img/brazilian.jpg
  public/img/bride.jpg
  public/img/happy-women-at-wedding.jpeg
  public/img/professionalism.jpg
  public/img/silky.jpg
  src/pages/home/index.page.tsx
Labels: pages, front, public files, git
